<div style="width: 80%; margin: auto;">
    <div *ngIf="!departamentos">
        <img src="./../../../assets/images/loading.gif" alt="loading" style="width:100%">
    </div>
    <table class="table table-striped table-hover" *ngIf="departamentos">
        <thead>
            <tr>
                <th>Numero</th>
                <th>Nombre</th>
                <th>Localidad</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let dept of departamentos">
                <td>{{dept.numero}}</td>
                <td>{{dept.nombre}}</td>
                <td>{{dept.localidad}}</td>
                <td>
                    <a [routerLink]="['/edit', dept.numero, dept.nombre, dept.localidad]" class="btn btn-info">Modificar</a>
                    <a [routerLink]="['/delete', dept.numero]" class="btn btn-warning">Eliminar (link)</a>
                    <a [routerLink]="['/detalle', dept.numero]" class="btn btn-success">Detalles</a>
                    <button (click)="eliminarDepartamento(dept.numero)" class="btn btn-danger">Eliminar</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>